@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=League+Gothic&family=League+Spartan:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=League+Gothic&family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
    --title-font: "League Gothic", "Archivo", Arial, sans-serif;
    --subtitle-font: "League Spartan", "Archivo", Arial, sans-serif;
    --default-border-padding: 48px 124px;
    --text-font: "Roboto", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    color: white;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    gap: 30%;
    height: 880px;
    background-color: black;
    padding: var(--default-border-padding);
}

nav .logo picture img {
    max-width: 52px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    font-family: var(--title-font);
    font-size: 96px;
}

.titulo p {
    font-family: var(--subtitle-font);
    font-size: 32px;
    letter-spacing: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* main style */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--default-border-padding);
}

main .center section {
    margin-bottom: 52px;
}

main .center section h2,
main .center section p,
main section {
    color: black;
}

main .center section h2 {
    font-family: var(--subtitle-font);
    font-size: 32px;
    font-weight: bold;
}

main .center section p {
    font-family: var(--text-font);
    font-size: 16px;
    text-align: justify;
}

.center {
    max-width: 560px;
}


.skills {
    display: grid;
    max-width: 100%;
    height: 100px;
    grid-template-columns: repeat(4, 1fr);
}

.skills a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-family: var(--text-font);
}

.skills a img {
    width: 15px;
}


/* sessao dos projetos */

.my-projects {
    width: 100%;
}

.row-projetos {
    display: flex;
    justify-content: space-evenly;
    height: 410px;
}

.projeto {
    padding: 24px;
    position: relative;
}

.bg-img {
    width: 310px;
    height: 410px;
    background-color: black;
    background-image: url(../img/project-card-image-size\ 1.png);
    position: absolute;
    filter: blur(3px);
    transition: .5s;
}

.row-projetos a {
    transition: .5s;
}

.row-projetos a:hover {
    transform: scale(1.12);
}

.noblur {
    filter: blur(0px);
}

.projeto h3,
.projeto p {
    font-family: var(--text-font);
}

.projeto h3 {
    font-weight: bold;
    font-size: 20px;
}

.projeto p {
    font-size: 16px;
}

/* footer style */

footer {
    padding: var(--default-border-padding);
    display: flex;
    justify-content: space-between;
    height: 440px;
    background-color: black;
    font-family: var(--subtitle-font);
}


footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    padding: 16px;
}

.ftr-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.0;
}

.footer-logo img {
    max-width: 52px;
}

a,
a:visited {
    text-decoration: none;
}